.footer {
  background-image: linear-gradient(
      to right bottom,
      rgba(11, 28, 63, 0.808),
      rgba(19, 32, 92, 0.836)
    ),
    url("../assets/images/money2.jpg");
  background-size: cover;
  background-position: center;
}
