.desktopBanner {
  height: 65vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.836),
      rgba(39, 64, 104, 0.87)
    ),
    url("../../assets/images/banner3.jpg");
  background-size: cover;
  background-position: center;
}

.mobileBanner {
  height: 65vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.623),
      rgba(39, 64, 104, 0.781)
    ),
    url("../../assets/images/banner3.jpg");
  background-size: cover;
  background-position: center;
}
